<div id="<%= dom_id company %>">
  <div>
    <strong>Name:</strong>
    <%= company.name %>
  </div>

  <div>
    <strong>Industry:</strong>
    <%= company.industry %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= company.year %>
  </div>

</div>
